h1 {
    font-size: 40px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

p {
    font-size: 20px;
    color: rgb(3, 15, 1);
    font-family: Georgia, 'Times New Roman', Times, serif
   
}

